<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My First spring mvc app</title>

<style>

#table_books {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#table_books td, #table_books th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table_books tr:nth-child(even){background-color: #f2f2f2;}

#table_books tr:hover {background-color: #ddd;}

#table_books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

</head>

<body>
	<h1>Book List</h1>
	
	<table id="table_books">
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Publisher</th>
		</tr>
		
		
		<tr th:each="book : ${books}" >
			<td th:text="${book.id}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.publisher.name}"></td>
		</tr>
	</table>
</body>
</html>